/* 登录页面样式 */

body {
    background-color: #eee;
}

/* 表单验证样式调整 */
.has-feedback .form-control{
    padding-right: 6px;
    font-size: 16px;
}
.form-horizontal .has-feedback .form-control-feedback{
    right: 10%;
    top: 9%;
}

/* 错误提示样式 */
.help-block {
    position: absolute;
    top: 23%;
    right: 15%;
    z-index: 2;
}

/* 验证码 */
.img-thumbnail{
    height: 32px;
    cursor: pointer;
}
.verify-box{

}
.verify-box .help-block{
    position: initial !important;
    width: 120% !important;
    margin-top: 48% !important;
}
/* .verify-box i.form-control-feedback{
    right: 0 !important;
    left: 30% !important;
} */

/* 用于按钮加载时的loading显示 */
.refresh-animation {
    /* 动画效果*/
    animation: loading-rotation 1s infinite;
    animation-timing-function: linear;
}

@keyframes loading-rotation {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

/* 调整验证码框的样式 */
.verify-div .form-control-feedback {
    right: 138px !important;
    top: 6px !important;
}